/* Reset de Estilos Padrão do Navegador (Opcional) */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.container-one{
  background-color: #333;
  height:80px;
  /* position: fixed; */
  width:100%;
  /* border:1px solid red; */
} 

.container-two{
  /* width:100%; */
  max-width: 1200px;
  margin: auto;  
  background-color: #333;
  height:80px;
  /* border:1px solid yellow; */
}

.logo{
  width:40%;
  float:left;
  height:80px;
  /* border:1px solid blue; */
}

.logo ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float:left;
    /* border:1px solid blue; */
}

.logo li{
  height:80px; 
  line-height: 80px;
  margin-left:15px;
  margin-right:15px;
  display: inline;
}

.logo li a{
  text-decoration:none;
  color:#FFF;
  font-size: 18px;
  border:1px solid #F79327;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 700;
  /* border-radius: 25px; */
}

.menuRight{
  width:50%;
  float:right;
  height:80px;
  /* border:1px solid blue; */
}

.menuRight ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float:right;
}

.menuRight li{
  height:80px; 
  line-height: 80px;
  margin-left:15px;
  margin-right:15px;
  display: inline;
}

.menuRight li a{
  text-decoration:none;
  color:#FFF;
  font-size: 16px;
  opacity: 0.5;
}

.menuRight a:hover{
  border-bottom: 3px solid #F79327;
  opacity: 1;
}

.container-three{
  border-color: red;
  /* border: 1px solid red; */
  height: 500px;
  background-color: #333;
  /* background-image: linear-gradient(to bottom, #222, transparent); */
}

.container-four{
   /* width:100%; */
   max-width: 1200px;
   margin: auto;  
   /* background-color: #333; */
   height:500px;
   /* border:1px solid yellow; */
}

/* deixa as divs uma do lado da outra */
.name-profission,.dev,.photo-dev,.information-dev,.project-one,.project-two,.project-three,.contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{ 
display: inline-block; /* Alinha horizotalmente os elementos */
vertical-align: middle; /* Alinha verticalmente os elementos */
}

.name-profission{
  /* border:1px solid green; */
  width:50%;
  height:400px;   
  margin-left:15px;
}
.name-profission h1{
margin-top: 90px;
color: #FFF;
font-size: 35px;
margin-left:7px;
}


.name-profission h2{
margin-top: -27px;
margin-left:7px;
color: #F79327;
font-size: 22px;
}

.name-profission p{
margin-top: -10px; 
margin-left: 7px;
color: #fff;
font-size:15px;
}

.icones img {
margin-top:20px;
width: 22px; 
height: 22px; 
margin-left: 7px;
}

.curriculum{
margin-top:20px;
padding:7px;
border-radius: 5px;
border:none;
background-color: #F79327;
color: #333;
font-size: 13px;
margin-left: 7px;
} 

.curriculum:hover{
/* border:1px solid #F79327; */
background-color: #333;
color: #F79327;
}

.dev{
/* border:1px solid yellow; */
width:45%;
text-align:center;
height:400px;   
margin-left:25px;
}

.dev img{
margin-top: 90px;
width:450px;
height:300px
}


.container-about-one{
/* border-color: red; */
/* border: 1px solid #f5f5f5; */
border: 1px solid transparent;
height: 600px;
background-color: #333;
text-align: center;
}

.container-about-one h2{
text-align: center;
color:#fff;
/* margin-top: 40px; */
}

.container-about-two{
 /* width:100%; */
 max-width: 1200px;
 margin: auto;  
 background-color: #333;
 height:500px; 
 /* border:1px solid yellow;s */
}

.photo-dev{
/* border:1px solid green; */
width:50%;
height:400px;   
margin-left:15px;
}

.information-dev{
  /* border:1px solid yellow; */
  width:45%;
  text-align:center;
  height:400px;   
  margin-left:25px;

}

.photo-dev img{
border:1px solid green;
width: 220px; /* Largura desejada */
height: 250px; /* Altura desejada */
margin: 0 auto; /* Centraliza a imagem horizontalmente */
display: block; /* Remove qualquer espaço extra abaixo da imagem */
transition: transform 0.3s ease; /* Adiciona uma transição de transformação */
border: 3px solid #F79327; /* Borda sólida com uma cor personalizada */
margin-top: 90px;
/* border-radius: 50%;  */



}

.photo-dev img:hover {
  transform: scale(1.1); /* Amplia a imagem quando o cursor passa sobre ela */
}

.information-dev h2{
margin-top: 90px;
color: #F79327;
font-size: 22px;
margin-left:7px;
text-align: left;

}

.information-dev p{
margin-top: -10px; 
margin-left: 7px;
color: #fff;
font-size:16px;
text-align: justify;
line-height: 1.5;
padding: auto;
letter-spacing: 0.1px;
}

.icones-redes{
text-align: left;
}

.icones-redes img {
margin-top:20px;
width: 23px; 
height: 23px; 
margin-left: 7px;
}

.gmz-icone{
background-color:  #F79327; /* Cor de fundo desejada */
padding-left: 1px;
padding-right: 1px;
border-radius: 45%; /* Opcional: crie um fundo circular para os ícones */
}


.container-portfolio-one{
/* border-color: red; */
/* border: 1px solid red; */
border: 1px solid transparent;
height: 750px;
background-color: #333;
text-align: center;
}

.container-portfolio-one h2{
text-align: center;
color:#fff;
}

.container-portfolio-two{
 /* width:100%; */
 max-width: 1200px;
 margin: auto;  
 background-color: #333;
 height:500px;
 /* border:2px solid #F79327; */
}

.container-portfolio-two h2{
margin-top: 50px;
text-align: center;
color: #F79327;
font-size: 18px;
}

.slider {
width: 80%;
margin: 0 auto;
overflow: hidden;
}

.slides {
list-style-type: none;
padding: 0;
margin: 0;
width: 300%; /* Um slide ocupa 33.33% da largura total */
transition: transform 0.5s ease-in-out;
}

.slide {
float: left;
width: 33.33%; /* Largura de cada slide */
box-sizing: border-box;
text-align: center;
padding: 20px;
/* border:1px solid #F79327; */
margin-top: -15px;
}

.slide img{
width:100%;
margin:auto;
height: 450px;
border-radius: 5px;
/* border:1px solid #F79327; */
}


/* Estilo para os botões de navegação */
.next-btn,
.prev-btn {
  background-color: #F79327; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  padding: 5px 10px; /* Espaçamento interno do botão */
  border: none; /* Remova a borda do botão */
  cursor: pointer; /* Mude o cursor para uma mão quando pairar sobre o botão */
  border-radius: 5px; /* Borda arredondada */
  font-size: 16px; /* Tamanho da fonte */
  margin: 5px; /* Margem ao redor dos botões */
  transition: background-color 0.3s ease-in-out; /* Animação da cor de fundo */
}

/* Estilizar o botão de próxima quando o mouse está sobre ele */
.next-btn:hover {
border:1px solid #F79327;
background-color: #333;
color: #F79327;
}

/* Estilizar o botão de anterior quando o mouse está sobre ele */
.prev-btn:hover {
border:1px solid #F79327;
background-color: #333;
color: #F79327;
}


.container-contacts-one{
  /* border-color: red; */
  border: 1px solid #f5f5f5;
  /* border: 1px solid transparent; */
  height: 600px;
  background-color: #333;
  text-align: center;
  }
  
  .container-contacts-one h2{
  text-align: center;
  color:#fff;
  /* margin-top: 40px; */
  }
  
  .container-contacts-two{
   /* width:100%; */
   max-width: 1200px;
   margin: auto;  
   background-color: #333;
   height:500px; 
   border:1px solid yellow;
  }

  .contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{
    width:20%;
    margin: auto;
    border: 1px solid yellow;
    color:#f5f5f5;
  }





/* .project-two{
border:1px solid yellow;
width:25%;
height:400px;   
margin-left:15px;
} */



/* Responsividade (Opcional) */
@media screen and (max-width: 768px) {
  header h1 {
      font-size: 2rem;
  }
  
  header p {
      font-size: 1rem;
  }
  
  nav a {
      margin: 0 5px;
  }
  
  article {
      padding: 10px;
  }
}