body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  padding-top: 80px;
}

.main-menu .navbar-brand {
  color: #ff8c00;
  font-size: 25px;
  font-weight: bold;
}

.main-menu .navbar-brand:hover {
  color: #ff8c00
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff8c00;
}

.main-menu li {
  margin-right: 12px;
}

.main-menu li:last-child {
  /* Remove o margin do último item para evitar espaçamento extra */
  margin-right: 0;
}

.lead{
  max-width: 800px; 
  text-align: justify;
}

.subtitulo {
  color: #ff8c00;
}

.btn-custom {
  background-color: #e07b00;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #ff8c00;
}

.social-icons a {
  color: #ff8000;
  margin-right: 15px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: white;
  /* ou um laranja mais claro, se quiser highlight */
}

/* css padão para aplicação do efeito de transação */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero,
.social-icons {
  animation: fadeInLeft 2s ease-out;
  animation-fill-mode: both;
}

.tech-icon {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.tech-icon:hover {
  opacity: 1;
}

.swiper-slide {
  background-color: #f8f9fa;
  /* fundinho claro */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.swiper-slide:hover {
  transform: scale(1.1);
  /* aumenta ao passar o mouse */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.swiper-slide p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

/* Ajustar o espaço pra não colar nas laterais no mobile */
.swiper {
  padding: 10px 0;
}

html {
  /* 
      scroll-padding-top: reserva um espaço no topo 
      quando clicar em âncoras (#about, #contacts etc), 
      para o conteúdo não ficar escondido atrás do header fixo.
    */
  scroll-padding-top: 100px;
  /* Ajuste para a altura do seu header */
}