

@media (max-width: 845px){

  
  .container-hero-one{
    height: 400px;
    background-color: #333;
    position: relative;
 
  }

  .container-hero-two{
    max-width: 1200px;
    margin: auto;  
    height:400px;  
    animation: fadeInLeft 2s;
  
 }

 .name-profission{
    width:45%;
    height:450px;   
    margin-left:15px;
   
  }

  .name-profission h1{
    margin-top: 80px;
    color: #FFF;
    font-size: 20px;
    margin-left:7px;
  }
  
  .name-profission h2{
    margin-top: -18px;
    margin-left:7px;
    color: #F79327;
    font-size: 15px;
  }
  
  .name-profission p{
    margin-top: -10px; 
    margin-left: 7px;
    color: #fff;
    font-size:12px;
  }
  
  .icones img {
    margin-top:20px;
    width: 19px; 
    height: 19px; 
    margin-left: 5px;
  }
  
  .curriculum{
    margin-top:20px;
    padding:5px;
    border-radius: 5px;
    border:none;
    background-color: #F79327;
    color: #333;
    font-size: 13px;
    margin-left: 7px;
  } 
  
  .curriculum:hover{
    border:1px solid #F79327;
    background-color: #333;
    color: #F79327;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dev{
    width:45%;
    text-align:center;
    height:450px;   
    /* margin-left:25px; */
    /* border:1px solid #fff; */
    /* margin: auto; */
  }
  
  .dev img{
    margin-top: 80px;
    width:300px;
    height:250px; 
  }

  .container-about-one{
    border: 1px solid transparent;
    height: 400px;
    padding-top: 1px;
    text-align: center;
    position: relative;
    /* border:1px solid greenyellow; */
  }

  .container-about-two{
    max-width: 1200px;
    height:400px; 
    /* border:1px solid #fff; */
  }

  .container-about-two h2{
    font-size: 20px;
    text-align: center;
    color:#fff;
    margin-top: 20px;
  
  }

  .photo-dev{
    /* width:40%; */
    height:180px;   
    text-align: center;
    /* border:1px solid greenyellow; */
  }
  
  .photo-dev img{
    width: 180px; 
    height: 180px;
    margin: 0 auto; 
    display: block; 
    transition: transform 0.3s ease; 
    border: 3px solid #F79327;
    margin-top: 20px;
    /* border-radius: 60%; */
  }

  .information-dev {
    /* border: 1px solid red; */
    text-align: center;
    height: 280px;
  }


  .information-dev h3{
    margin-top: 10px;
    color: #F79327;
    font-size: 15px;
    margin-left:7px;
  }
  
  .information-dev p{
    margin-top: -10px; 
    padding-right: 9px;
    color: #fff;
    font-size:13px;
    /* text-align: justify; */
    /* line-height: 1.5; */
    padding: auto;
    letter-spacing: 0.1px;
     /* border: 1px solid red; */
  }


/* pegar a partir daqui */

  .container-portfolio-one{
    border: 1px solid transparent;
    height: 640px;
    text-align: center;
    position: relative;
    padding-top: 1px;
    /* border: 1px solid red; */
  }

  .container-portfolio-two{
    max-width: 1200px;
    margin: auto;  
    height:640px;
    /* border: 1px solid #ccc; */
  }
  
  .container-portfolio-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
    /* border: 1px solid #ccc; */
  }

  .slide h3{
    margin-top:20px;
  }

  .slide img{
    width:100%;
    margin:auto;
    height: 400px;
    border-radius: 5px;
    /* border: 1px solid blue; */
  }

  .next-btn,
  .prev-btn {
    background-color: #F79327; 
    color: #fff; 
    padding: 5px 10px;
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
    margin: 5px; 
    transition: background-color 0.3s ease-in-out; 
  }



.contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{ 
  display:block;
  height: 50px;
  margin-bottom: 20px;
  padding: 2px;
}

  .container-contacts-one{
    border: 1px solid transparent;
    height: 400px;
    text-align: center;
    position: relative;
    padding-top: 1px;
  }

  .container-contacts-two{
    max-width: 1200px;
    margin: auto;  
    height:400px; 
    /* border: 1px solid #ccc; */
  }

  .container-contacts-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
  }

  .container-contacts-two h3{
    font-size: 10px;
    margin-top: -3px;
  }

  .container-contacts-two img{
    width:25px;
    height: 25px;
    margin-top: 20px;
  }






  .container-footer-one{
    border: 1px solid transparent;
    height: 350px;
    text-align: center;
  }
    
  .container-footer-two{
    max-width: 1200px;
    margin: auto;  
    height:250px; 
  }
  
  .container-footer-two h2{
    text-align: center;
    color:#fff;
    margin-top: -30px;
    font-size: 20px;
   
  }

  .footer-text p{
    font-size:14px;
  }


    /* oculta menu quando */
    .menuRight{
      display: none;
      width:1%;
      margin-top: 80px;
      margin-right: -70px;
    }
    
    /* diminindo o espaço */
    .menuRight li{
      line-height: 40px;
      color: #fff;
    }
    
    #menuHamburguer{
      color: #FFF;
      background-color: #333;
      cursor: pointer;
      margin-top:30px;
      float: right;
      margin-right: 50px;
      font-size: 30px;
      display: block;
    }



    

}
