@media (max-width: 845px){

  .container-hero-one{
    height: 400px;
    background-color: #333;
    position: relative;
  }

  .container-hero-two{
    max-width: 1200px;
    margin: auto;  
    height:400px;  
    animation: fadeInLeft 2s;
 }

 .name-profission{
    width:45%;
    height:450px;   
    margin-left:15px;
  }

  .name-profission h1{
    margin-top: 80px;
    color: #FFF;
    font-size: 20px;
    margin-left:7px;
  }
  
  .name-profission h2{
    margin-top: -18px;
    margin-left:7px;
    color: #F79327;
    font-size: 15px;
  }
  
  .name-profission p{
    margin-top: -10px; 
    margin-left: 7px;
    color: #fff;
    font-size:12px;
  }
  
  .icones img {
    margin-top:20px;
    width: 19px; 
    height: 19px; 
    margin-left: 5px;
  }
  
  .curriculum{
    margin-top:20px;
    padding:5px;
    border-radius: 5px;
    border:none;
    background-color: #F79327;
    color: #333;
    font-size: 13px;
    margin-left: 7px;
  } 
  
  .curriculum:hover{
    border:1px solid #F79327;
    background-color: #333;
    color: #F79327;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dev{
    width:45%;
    text-align:center;
    height:450px;   
  }
  
  .dev img{
    margin-top: 80px;
    width:300px;
    height:250px; 
  }

  .container-about-one{
    border: 1px solid transparent;
    height: 400px;
    padding-top: 1px;
    text-align: center;
    position: relative;
  }

  .container-about-two{
    max-width: 1200px;
    height:400px; 
  }

  .container-about-two h2{
    font-size: 20px;
    text-align: center;
    color:#fff;
    margin-top: 20px;
  }

  .photo-dev{
    height:180px;   
    text-align: center;
  }
  
  .photo-dev img{
    width: 180px; 
    height: 180px;
    margin: 0 auto; 
    display: block; 
    transition: transform 0.3s ease; 
    border: 3px solid #F79327;
    margin-top: 20px;
  }

  .information-dev {
    text-align: center;
    height: 280px;
  }

  .information-dev h3{
    margin-top: 10px;
    color: #F79327;
    font-size: 15px;
    margin-left:7px;
  }
  
  .information-dev p{
    margin-top: -10px; 
    padding-right: 9px;
    color: #fff;
    font-size:13px;
    padding: auto;
    letter-spacing: 0.1px;
  }

  .container-portfolio-one{
    border: 1px solid transparent;
    height: 640px;
    text-align: center;
    position: relative;
    padding-top: 1px;
  }

  .container-portfolio-two{
    max-width: 1200px;
    margin: auto;  
    height:640px;
  }
  
  .container-portfolio-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
  }

  .slide h3{
    margin-top:20px;
  }

  .slide img{
    width:100%;
    margin:auto;
    height: 400px;
    border-radius: 5px;
  }

  .next-btn,
  .prev-btn {
    background-color: #F79327; 
    color: #fff; 
    padding: 5px 10px;
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
    margin: 5px; 
    transition: background-color 0.3s ease-in-out; 
  }

  .contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{ 
    display:block;
    height: 50px;
    margin-bottom: 20px;
    padding: 2px;
  }

  .container-contacts-one{
    border: 1px solid transparent;
    height: 400px;
    text-align: center;
    position: relative;
    padding-top: 1px;
  }

  .container-contacts-two{
    max-width: 1200px;
    margin: auto;  
    height:400px; 
  }

  .container-contacts-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
  }

  .container-contacts-two h3{
    font-size: 10px;
    margin-top: -3px;
  }

  .container-contacts-two img{
    width:25px;
    height: 25px;
    margin-top: 20px;
  }

  .container-footer-one{
    border: 1px solid transparent;
    height: 350px;
    text-align: center;
  }
    
  .container-footer-two{
    max-width: 1200px;
    margin: auto;  
    height:250px; 
  }
  
  .container-footer-two h2{
    text-align: center;
    color:#fff;
    margin-top: -30px;
    font-size: 20px;
  }

  .footer-text p{
    font-size:14px;
  }


  /* oculta menu quando */
  .menuRight{
    display: none;
    width:1%;
    margin-top: 80px;
    margin-right: -70px;
  }
    
  /* diminindo o espaço */
  .menuRight li{
    line-height: 40px;
    color: #fff;
  }
    
  #menuHamburguer{
    color: #FFF;
    background-color: #333;
    cursor: pointer;
    margin-top:30px;
    float: right;
    margin-right: 50px;
    font-size: 30px;
    display: block;
  }
}


@media (max-width: 575px){


  .name-profission,.dev,.photo-dev,.information-dev,.project-one,.project-two,.project-three,.contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{ 
    display:block;
  }

  .container-hero-one{
    height: 650px;
    background-color: #333;
    position: relative;
  }

  .container-hero-two{
    max-width: 1200px;
    margin: auto;  
    height:650px;  
    animation: fadeInLeft 2s;
 }

 .name-profission{
    width:100%;
    height:300px;   
    margin-left:15px;
  }

  .name-profission h1{
    margin-top: 70px;
    color: #FFF;
    font-size: 20px;
    margin-left:7px;
  }
  
  .name-profission h2{
    margin-top: -18px;
    margin-left:7px;
    color: #F79327;
    font-size: 15px;
  }
  
  .name-profission p{
    margin-top: -10px; 
    margin-left: 7px;
    color: #fff;
    font-size:12px;
  }
  
  .icones img {
    margin-top:20px;
    width: 19px; 
    height: 19px; 
    margin-left: 5px;
  }
  
  .curriculum{
    margin-top:20px;
    padding:5px;
    border-radius: 5px;
    border:none;
    background-color: #F79327;
    color: #333;
    font-size: 13px;
    margin-left: 7px;
  } 
  
  .curriculum:hover{
    border:1px solid #F79327;
    background-color: #333;
    color: #F79327;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dev{
    margin-top: 10px;
    width:100%;
    height:250px;   
    margin-left:15px;
    float: left;
  }
  
  .dev img{
    margin-top: 10px;
    max-width:900%;
    height:220px; 
    padding-left: 50px;
  }

  .container-about-one{
    border: 1px solid transparent;
    height: 700px;
    padding-top: 1px;
    text-align: center;
    position: relative;
  }

  .container-about-two{
    max-width: 1200px;
    height:700px; 
  }

  .container-about-two h2{
    font-size: 20px;
    text-align: center;
    color:#fff;
    margin-top: 20px;
  }

  .photo-dev{
    height:180px;   
    text-align: center;
  }
  
  .photo-dev img{
    width: 180px; 
    height: 180px;
    margin: 0 auto; 
    display: block; 
    transition: transform 0.3s ease; 
    border: 3px solid #F79327;
    margin-top: 20px;
  }

  .information-dev {
    margin-right: 30px;
    height: 400px;
    margin-top: 20px;
    max-width: 80%;
  }

  .information-dev h3{
    margin-top: 10px;
    color: #F79327;
    font-size: 15px;
    text-align: center;
  }
  
  .information-dev p{
    margin-top: -10px; 
    color: #fff;
    font-size:13px;
    letter-spacing: 0.2px;
  }

  .container-portfolio-one{
    border: 1px solid transparent;
    height: 650px;
    text-align: center;
    position: relative;
    padding-top: 1px;
  }

  .container-portfolio-two{
    max-width: 1200px;
    margin: auto;  
    height:650px;
  }
  
  .container-portfolio-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
  }

  .slide h3{
    margin-top:20px;
  }

  .slide img{
    width:100%;
    margin:auto;
    height: 400px;
    border-radius: 5px;
  }

  .next-btn,
  .prev-btn {
    background-color: #F79327; 
    color: #fff; 
    padding: 5px 10px;
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
    margin: 5px; 
    transition: background-color 0.3s ease-in-out; 
  }

  .contact-location,.contact-email,.contact-linkedin,.contact-whatsapp{ 
    display:block;
    height: 50px;
    margin-bottom: 20px;
    padding: 2px;
  }

  .container-contacts-one{
    border: 1px solid transparent;
    height: 400px;
    text-align: center;
    position: relative;
    padding-top: 1px;
  }

  .container-contacts-two{
    max-width: 1200px;
    margin: auto;  
    height:400px; 
  }

  .container-contacts-two h2{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    font-size: 17px;
  }

  .container-contacts-two h3{
    font-size: 10px;
    margin-top: -3px;
    width: 170%;
    margin-right: 30px;
    margin-left: -30px;
  }

  .container-contacts-two img{
    width:25px;
    height: 25px;
    margin-top: 20px;
  }

  .container-footer-one{
    border: 1px solid transparent;
    height: 350px;
    text-align: center;
  }
    
  .container-footer-two{
    max-width: 1200px;
    margin: auto;  
    height:250px; 
  }
  
  .container-footer-two h2{
    text-align: center;
    color:#fff;
    margin-top: -30px;
    font-size: 20px;
  }

  .footer-text p{
    font-size:14px;
  }

  /* oculta menu quando */
  .menuRight{
    display: none;
    width:1%;
    margin-top: 80px;
    margin-right: -70px;
  }
    
  /* diminindo o espaço */
  .menuRight li{
    line-height: 40px;
    color: #fff;
  }
    
  #menuHamburguer{
    color: #FFF;
    background-color: #333;
    cursor: pointer;
    margin-top:30px;
    float: right;
    margin-right: 50px;
    font-size: 30px;
    display: block;
  }
}