body{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
.top{
  background-color: #000000;
  height:80px;
  position: fixed;
  width:100%;
} 
.topStart{
  width:100%;
  max-width: 1060px;
  margin: auto;  
  background-color: #000000;
  height:80px;
}
.menuRight{
  width:50%;
  float:right;
  height:80px;
}
.menuRight ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float:right;
}
.menuRight li{
  height:80px; 
  line-height: 80px;
  margin-left:15px;
  margin-right:15px;
  display: inline;
}
.menuRight li a{
  text-decoration:none;
  color:#FFF;
  font-size: 18px;
}
.active a{
  border-bottom: 3px solid #DEA057;
}
.menuRight a:hover{
  border-bottom: 3px solid #DEA057;
}
#menuHamburger{
  display:none;
}
.hero{
  height:calc(120vh - 120px);
  background-color: #333;
  background-image:url('../img/imgHero.jpg');
  background-size: cover;
  background-position: bottom;
}
.text-hero{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.text-hero h1{
  font-weight: border;
  font-size:35px;
  text-shadow:-1px 0 #111, 0 1px #111,
  1px 0 #111, 0 -1px #111;
  letter-spacing: 2px;
  color:#DEA057;
  animation: fadeInLeft 2s;
}
.text-hero h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size:30px;
  text-shadow:-1px 0 #000, 0 1px #000,
  1px 0 #000, 0 -1px #000;
  color:#fff;
  letter-spacing: 2px;
  margin-top: 10px;
  animation: fadeInLeft 2s;
}
span{
  font-family: Verdana;
  font-weight: 300;
}
.perfil{
  margin: auto;  
  background-color: #f2f2f2;
  height:280px;
  text-align: center;
}
.perfil h2{
  margin-top: 0%;
  padding-top: 90px;
}
.perfil img{
  width:222px;
  height:230px;
  margin-top: 5px;
  border-radius: 50%;
  border: 5px solid #FFF;
}
.perfilText{
  width:100%;
  max-width: 1060px;
  margin: auto;  
  background-color: #FFF;
  height:240px;
}
.perfilText p{
  text-align: center;
  padding-top: 110px;
  font-size: 16px;
  line-height: 1.4em;
}
.perfilText p{
  width: 50%;
  margin: auto;
  line-height: 1.4em;
}
.perfilText img{
  padding-top:10px;
  width: 45px;
  height: 45px;
}
.skills{
  background-color: #f2f2f2;
  height:400px;
}
.stacks{
  width:100%;
  margin: auto;  
  background-color: #f2f2f2;
  height:400px;
  max-width: 1060px;
  overflow-x: auto; /*this line is responsible for aplication responsiveness in table*/
}
.stacks h2{
  margin-top: 0%;
  padding-top: 90px;
}
.stacks img{
  width:33px;
  height:33px;
}
.stacks, table{
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
table td {
  padding:15px;
}
.contacts{
  background-color: #fff;
  height:400px;
}
.talk-to-me{
  width:100%;
  margin: auto;  
  background-color: #fff;
  height:400px;
  max-width: 1060px;
}
.talk-to-me h2{
  margin-top: 0%;
  padding-top: 50px;
  text-align:center;
}
.talk-to-me p{
  margin-top: 0%;
  padding-top: 40px;
  text-align:center;
  font-size: 18px;
}
.email{
  font-size:20px;
  text-align: center;
  color:#333;
  font-weight: bold;
}
.networks{
  width:100%;
  height:100px;
}
.networks ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.networks li{
  height:100px; 
  line-height: 100px;
  margin-left:15px;
  margin-right:15px;
  display: inline;
  background-color: #DEA057;
  border-radius: 5px;
  padding:8px;
}
.networks li a{
  text-decoration:none;
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.bottom{
  background-color: #000000;
  height:100px;
  margin-top: 50px;
}
.bottom-footer{
  width:100%;
  max-width: 1060px;
  margin: auto;  
  background-color: #000000;
  line-height: 100px;
  text-align: center;
  color:#DEA057;
  height:100px;
}
/* Responsavel pelo efeito scroll entre aa divs */
html{
  scroll-behavior: smooth;
}
/* css padão para aplicação do efeito de transação */
@keyframes fadeInLeft
{
    0%{
        opacity:0;
        /* translateX reposiciona um elemento na direção horizontal e/ou vertical */
        -webkit-transform:translateX(-100px); 
        -ms-transform:translateX(-100px);
        transform:translateX(-100px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}



